/* responsive for mobile or small device  */
@media screen and (max-width: 425px) {
  .nav-container,
  .nav-items-container {
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: center;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items-container a {
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-content-area .banner-content {
    padding: 40px;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    padding-right: 0px;
    width: 100%;
    margin: 0px 210px 0px 190px;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-content .btn-1,
  .banner-content .btn-2 {
    padding: 10px 20px;
    margin: 10px;
  }
  .play {
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .card-container {
    flex-direction: column;
    display: flex;
    padding: 50px;
  }
  .online {
    margin: 0;
    text-align: center;
  }
  .img-container img {
    width: 100%;
  }
  .content-container {
    text-align: right;
    padding-top: 180px;
  }
  .tile-img img {
    position: relative;
    bottom: 0;
    right: 0;
    left: 30%;
    top: 60%;
    width: 50%;
    transform: translate(-50%, -50%);
  }
  .features-card {
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
  }

  .features-row {
    flex-wrap: wrap;
  }
  footer {
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* responsive for tablet and medium devices  */
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .nav-container {
    padding: 0 40px 0 40px;
  }

  .logo-container {
    width: 70%;
  }

  .logo-container p {
    font-size: 35px;
  }

  .nav-items-container {
    width: 30%;
    justify-content: space-between;
  }

  .nav-items-container a {
    font-size: 0.8rem;
  }
}
